body{
    background-color: rgb(211, 12, 168);
    color: rgb(238, 242, 245);
}
h1{
    color: rgb(241, 85, 13);
}
section{
    background: rgb(243, 84, 217);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}