body{
    background-color: rgb(199, 196, 162);
    color: rgb(238, 242, 245);
}
h1{
    color: rgb(241, 85, 13);
}
section{
    background: rgb(12, 11, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}