body{
    background-color: rgba(248, 198, 238, 0);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(255, 0, 128);
}
section{
    background: rgb(252, 219, 245);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}